<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Mecatonic</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
  <body bgcolor="#CCCCCC">

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center"><b>&nbsp;&nbsp;Mecatonic</b></a>
      </div>
    </nav>

    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Clientes</span>
              <p>Visualizar, registrar, editar y eliminar materias.</p>
            </div>
            <div class="card-action">
              <a href="/clientes">Abrir</a>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Mecanicos</span>
            <p>Visualizar, registrar, editar y eliminar materias.</p>
          </div>
          <div class="card-action">
            <a href="/mecanicosResponsables">Abrir</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Vehiculos</span>
            <p>Visualizar, registrar, editar y eliminar materias.</p>
          </div>
          <div class="card-action">
            <a href="/vehiculos">Abrir</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Hojas de Parte</span>
            <p>Visualizar, registrar, editar y eliminar materias.</p>
          </div>
          <div class="card-action">
            <a href="/hojaDePartes">Abrir</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Repuestos</span>
            <p>Visualizar, registrar, editar y eliminar materias.</p>
          </div>
          <div class="card-action">
            <a href="/repuestos">Abrir</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
