<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body bgcolor="#FFFFFF ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="container">

        <form action="/clientes/crear" method="POST" class="col s12">

            <div class="input-field col s6">
                <input  id="cliente" type="text" class="validate" name="cliente">
                <label for="cliente">Nombre</label>
            </div>

            <div class="input-field col s6">
                <input  id="direccion" type="text" class="validate" name="direccion">
                <label for="direccion">Dirección</label>
            </div>

            <div class="input-field col s6">
                <input  id="telefono" type="text" class="validate" name="telefono">
                <label for="telefono">Teléfono</label>
            </div>

            <button class="btn waves-effect waves-light">Guardar</button>

        </form>
        
    </div>
</body>
</html>